
config/httpconfig.yaml

config/pushovercfg.yaml

deps/*
.HA_VERSION

home-assistant.db

home-assistant.log

pyozw.sqlite

www/mini.jpg

zwcfg_0xe1100465.xml

zwscene.xml

plex.conf

phue.conf

OZW_Log.txt

mysensors.json

known_devices.yaml

hass-config/
